<nav class="bg-app-bg-light shadow dark:bg-app-bg-dark">
  <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
    <a routerLink="/"
      class="text-gray-800 transition-colors duration-300 transform dark:text-gray-200 border-b-2 border-blue-500 mx-1.5 sm:mx-6">
      Home</a>
    @if(this.authService.userState() == null){

    }@else{
    <a routerLink="/createListing"
      class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">
      Create Listing
    </a>
    }
    @if(!this.auth.currentUser){
    <span (click)="loginClickHandler()"
      class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">
      Login
    </span>
    }@else{

    <app-navbarprofilepicdropdown></app-navbarprofilepicdropdown>
    <app-stripe-button></app-stripe-button>
    <span (click)="signOutClickHandler()"
      class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">
      Sign Out
    </span>
    }


    @if(darkModeToggled){
    <span (click)="darkModeToggleClickHandler()" class="material-symbols-outlined">
      light_mode
    </span>
    }@else{
    <span (click)="darkModeToggleClickHandler()" class="material-symbols-outlined">
      dark_mode
    </span>
    }


  </div>
</nav>